@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Mono", monospace;sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: #003B95;
    color: white;
}

header > h1 {
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}

span#burger {
    display: block; /*deixa ocupando toda a larg da tela*/
    background-color: #013380;
    text-align: center;
    padding: 10px;
    cursor: pointer;  /*aparece a mãosinha quando passa o cursor em cima*/
}

span#burger:hover {
    background-color: rgba(255, 255, 255, 0.293);
}

menu { 
    display: none;
}

menu ul {
    list-style-type: none;
}

menu > ul > li >a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    text-align: center;
}

menu ul > li > a:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.293);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding: 20px 0px 30px 0px;
    margin-bottom: 30px;
}

article > p {
    margin-bottom: 30px;
    text-align: justify
}

main > article > p > a {
    color: #005de9;
    font-weight: bold;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

article::after {
    content: '*Dados de recomendação da Booking.com de acordo com os destinos mais relevantes e recomendados por viajantes brasileiros pelo café e cafeterias. ';
    font-size: 0.8em;
    
}