* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #8FA690, #496B73 );
}

main {
    background-color:#A4A6A5;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #353d3587;
    width: 600px;   
    padding: 10px; 
    margin: auto;
}

h1 {
    color: #454259;
    text-align: center;
    text-shadow: 1px 1px 0px #282633d9;
}

h2 {
    color: #172126;
}

p {
    text-align: justify;
}